/* Jura font */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
}


header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

header .logo{
    font-family: Jura, 'Open Sans', sans-serif;
}

header .logo img{
    height: 30px;
    display: inline-block;
    transform: rotate(-30deg);
}

header .logo span{
    color:#f44292;
    text-align: center;
    margin-left: -10px;
}

header .logo h1{
    display: inline;
    margin-bottom: -20px;
    font-weight: 400;
    font-size: 36px;
}

header .nav-links{
    display: flex;
    justify-content: space-between;
}

header .nav-links li{
    list-style-type: none;
    display: inline-flex;
    /* justify-content: space-between; */
    margin: 10px 15px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.image-place{
    background: rgb(247, 32, 121);
    display: inline-block;
    /* padding: 16px 20px; */
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5000px;
    font-size: 25px;
    color: white;
}